<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxScrollingDialog" name="CommitMsgDialog">
		<size>567,585</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxStaticText" name="wxID_ANY" variable="StaticText1" member="no">
			<label>Summary of changes:</label>
			<pos>16,8</pos>
		</object>
		<object class="wxTextCtrl" name="ID_SUMMARY1" variable="m_Summary" member="yes">
			<value>Brief summary of changes</value>
			<maxlength>50</maxlength>
			<pos>16,32</pos>
			<size>536,27</size>
			<handler function="OnMessageChange" entry="EVT_TEXT" />
		</object>
		<object class="wxStaticText" name="wxID_ANY" variable="StaticText2" member="no">
			<label>Commit message:</label>
			<pos>16,72</pos>
		</object>
		<object class="wxTextCtrl" name="ID_DETAILS" variable="m_Details" member="yes">
			<value>Enter your commit message here...</value>
			<pos>16,96</pos>
			<size>536,256</size>
			<style>wxTE_NO_VSCROLL|wxTE_MULTILINE|wxTE_WORDWRAP|wxVSCROLL|wxFULL_REPAINT_ON_RESIZE</style>
			<handler function="OnMessageChange" entry="EVT_TEXT" />
		</object>
		<object class="wxButton" name="wxID_OK" variable="m_OkButton" member="yes">
			<default>1</default>
			<pos>464,544</pos>
		</object>
		<object class="wxButton" name="wxID_CANCEL" variable="Button2" member="no">
			<pos>368,544</pos>
		</object>
		<object class="wxCheckListBox" name="ID_FILELIST" variable="m_FileList" member="yes">
			<pos>16,392</pos>
			<size>536,136</size>
			<handler function="OnMessageChange" entry="EVT_CHECKLISTBOX" />
		</object>
		<object class="wxStaticText" name="wxID_ANY" variable="StaticText3" member="no">
			<label>File list:</label>
			<pos>16,368</pos>
		</object>
	</object>
</wxsmith>
